{% extends 'base.html' %} {% block title %}Contact{% endblock title %} {% block body %} <div class="container bg-light" data-new-gr-c-s-check-loaded="14.1027.0" data-gr-ext-installed=""">
<div class="container">
  <h1 class="m-4 text-center">Contact Us</h1>
  <form class="row g-3" method="post" action="/contact/">
    {% csrf_token %}
    <div class="col-md-6">
      <label for="firstName" class="form-label">First name</label>
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="" value="" required="" />
      <div class="invalid-feedback">Valid first name is required.</div>
    </div>
    <div class="col-md-6">
      <label for="lastName" class="form-label">Last name</label>
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="" value="" required="" />
      <div class="invalid-feedback">Valid last name is required.</div>
    </div>
    <div class="col-md-12">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="email" class="form-control" name="inputEmail4" id="inputEmail4" />
    </div>
    <div class="form-floating">
      <textarea class="form-control" placeholder="Leave a comment here" name="floatingTextarea" id="floatingTextarea"></textarea>
      <label for="floatingTextarea">Comments</label>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck"> Check me out </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign in</button>
    </div>
  </form>
</div>

{% endblock body %}
